<section class="available-tickets">
    <h1>Available Tickets</h1>
    
    <div class="ticket-boxes">
        <div class="ticket-box">
            <h2>Adult Tickets</h2>
            <p>
                <%= availableTickets.ADULT %> available
            </p>
        </div>
        <div class="ticket-box">
            <h2>Child Tickets</h2>
            <p>
                <%= availableTickets.CHILD %> available
            </p>
        </div>
        <div class="ticket-box">
            <h2>Infant Tickets</h2>
            <p>
                <%= availableTickets.INFANT %> available
            </p>
        </div>
    </div>
    
    <a href="/" class="btn-back">Back to Booking</a>
</section>